/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

*,
::after,
::before {
	box-sizing: border-box;
}

:root {
	/*colors*/
	--color-bg-primary: #eceef1;
}

html {
	font-size: 100%;
} /*16px*/

body {
	background-color: #023168;
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#root {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 750px) {
	.modal {
		width: 90%;
	}
}
